#tumblr{visibility:hidden;}
#googleplus{visibility:hidden;}
#linkedin{visibility:hidden;}
#reddit{visibility:hidden;}
#digg{visibility:hidden;}
#delicious{visibility:hidden;}
#email{right: 75px;
position: absolute;
top: 90px;}
#twitter{position: absolute;
left: 243px;
top: 90px;}
#facebook{position: absolute;
left: 137px;
top: 90px;}
#social{
  height: 40px;
}
#link{
  visibility:hidden;
}


/*.container {
margin-right: auto;
margin-left: auto;
padding-left: 200px;
padding-right: 200px;
}*/

.pfy-form-container .pfy-form-row {display:inline-block;width:7%;color:white;vertical-align: top;}
.pfy-form-container .pfy-form-submit-row {display:inline-block;margin-left:20px;vertical-align: top;}

.pfy-form-container form input#tester_submit {
  border: none;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 rgba(0,0,0,.5);
  background: #528B18;
  background: -moz-linear-gradient(top, #528B18 0%, #32cd38 3%, #2ebb33 49%, #35B939 51%, #2aa92e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#528B18), color-stop(3%,#32cd38), color-stop(49%,#2ebb33), color-stop(51%,#35B939), color-stop(100%,#2aa92e));
  background: -webkit-linear-gradient(top, #528B18 0%,#32cd38 3%,#2ebb33 49%,#35B939 51%,#2aa92e 100%);
  background: -o-linear-gradient(top, #528B18 0%,#32cd38 3%,#2ebb33 49%,#35B939 51%,#2aa92e 100%);
  background: -ms-linear-gradient(top, #528B18 0%,#32cd38 3%,#2ebb33 49%,#35B939 51%,#2aa92e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#528B18', endColorstr='#2aa92e',GradientType=0 );
  background: linear-gradient(top, #528B18 0%,#32cd38 3%,#2ebb33 49%,#35B939 51%,#2aa92e 100%);
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  height: 34px;
  margin-bottom: 2px;
}
#pfy-share-form-container h1, 
#pfy-share-form-container h2,
#pfy-share-form-container h3,
#pfy-share-form-container h4,
#pfy-share-form-container p {
  color: #ffffff;
}

#pfy-share-form-container .share-box p {
  color: #333333;
}.pfy-form-container .pfy-form-row {display:inline-block;width:70%;color:white;}
.pfy-form-container .pfy-form-submit-row {display:inline-block;margin-left:20px;}

.pfy-form-container form input#tester_submit {
  border: none;
  text-transform: uppercase;
  text-shadow: -1px -1px 0 rgba(0,0,0,.5);
  background: #528B18;
  background: -moz-linear-gradient(top, #528B18 0%, #32cd38 3%, #2ebb33 49%, #35B939 51%, #2aa92e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#528B18), color-stop(3%,#32cd38), color-stop(49%,#2ebb33), color-stop(51%,#35B939), color-stop(100%,#2aa92e));
  background: -webkit-linear-gradient(top, #528B18 0%,#32cd38 3%,#2ebb33 49%,#35B939 51%,#2aa92e 100%);
  background: -o-linear-gradient(top, #528B18 0%,#32cd38 3%,#2ebb33 49%,#35B939 51%,#2aa92e 100%);
  background: -ms-linear-gradient(top, #528B18 0%,#32cd38 3%,#2ebb33 49%,#35B93951%,#2aa92e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#528B18', endColorstr='#2aa92e',GradientType=0 );
  background: linear-gradient(top, #528B18 0%,#32cd38 3%,#2ebb33 49%,#35B939 51%,#2aa92e 100%);
  cursor: pointer;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
  height: 34px;
  margin-bottom: 2px;
}

#pfy-share-form-container h1, 
#pfy-share-form-container h2,
#pfy-share-form-container h3,
#pfy-share-form-container h4,
#pfy-share-form-container p {
  color: #ffffff;
}

#pfy-share-form-container .share-box p {
  color: #333333;
}

#pfy-share-form-container .share-box ul li {
display: inline;
/* float: left; */
margin: 0 5px 0 0;
padding: 5px 0;
width: 110px;
}

#pfy-share-form-container .share-box {
background-color: #3c7cae;
border: 1px solid #276799;
margin: 20px auto;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: white;
width: 300px;
}

#pfy-share-form-container .share-box h3 {
background-color: #276799;
color: #666;
font-style: italic;
padding: 3px 5px;
}


#pfy-share-form-container .share-box ul li a {
text-decoration: none;
color: white;
vertical-align: top;
}
#pfy-share-form-container .share-box p {
color: white;
}