	body{
		margin: 0;
		padding: 0;
		position: relative;
		background:url('http://draftster.com/images/greyBg.png');
	    background-position: center;
		width:100%;
		color: white;
		}


	.top{
	position: relative;
	height: 681px;
	background:url('http://draftster.com/images/landing_page_bg.jpg') no-repeat top center;
	background-color: black;
	width: 100%;
	color: white;
	margin: 0 auto;
	}	
	
	.contentContainer{
		margin: 0 auto;
		width: 896px;
	}
	.header{
width: 100%;
position: relative;
height: 93px;
background: url("http://draftster.com/images/logoDraftster.png");
background-position: center;
background-repeat: no-repeat;
background-size: 321px 49px;
padding-top: 12px;
text-align: center;
padding-top: 31px;
	}

	

	
	.subHeader{
/* margin-top: 56	px; */
height: 73px;
font-size: 30px;
font-family: "myriad-pro",sans-serif;
font-weight: 600;
width: 100%;
text-align: center;
/* margin-left: 34px; */
text-transform: uppercase;
margin-top: -35px;
text-shadow: 0px 0px 7px black;
	}

	.callToActionContainer{
		width: 100%;
margin-left: 173px;

	}
	.callToAction{
	font-size: 36px;
display: inline-block;
line-height: 46px;
font-family: "myriad-pro-condensed",sans-serif;
font-weight: 300;
	}
	.star{
	width: 37px;
height: 21px;
background: url("http://draftster.com/images/star.png");
background-position: center;
background-repeat: no-repeat;
background-size: 22px 21px;
display: inline-block;
line-height: 35px;
	}
	.dividerLine{
height: 2px;
padding-top: 18px;
padding-bottom: -6px;
padding-left: 39px;
width: 830px;
background: url("http://draftster.com/images/line.png");
background-position: center;
background-repeat: no-repeat;
background-size: 767px 2px;
	}
	.text{
font-size: 18px;
width: 759px;
text-align: center;
font-family: "myriad-pro",sans-serif;
font-weight: 300;
padding-top: 14px;
padding-left: 53px;
line-height: 22px;
padding-bottom: 22px;
letter-spacing: .8px;


	}
	.icons{
		width: 100%;
		margin-top: 15px;
		height: 262px;
		background: url("http://draftster.com/images/icons.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 685px 262px;

	}
	.subText{
width: 100%;
font-size: 61px;
font-family: "myriad-pro-condensed",sans-serif;
font-weight: 700;
margin-left: 84px;
text-transform: uppercase;
line-height: 60px;
	}

	.subText2{
		width: 100%;
		font-size: 24px;
		font-family: "myriad-pro",sans-serif;
		margin-left: 61px;
		padding-top: 2px;
	}
	.padding{
		padding-top: 28px;
		font-size: 20.5px;
	}
	.player{
		width: 100%;
		top: 28px;
		margin-top: -639px;
		margin-left: 529px;
		height: 748px;
		background: url("http://draftster.com/images/player.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 368px 748px;
		display: none;
	}
	
	.callTo{
		position: relative;
		width: 100%;
		text-align: center;
		margin: 0 auto;
		height: 50px;
	}
	.footerText{
		width: 100%;
		margin-top: -300px;
		margin-left: 9px;
		height: 26px;
		background: url("http://draftster.com/images/access.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 825px 26px;
	}

	.arrow {
		width: 100%;
		margin-top: -23px; 
		margin-left: 279px;
		height: 75px;
		background: url("http://draftster.com/images/arrow.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: 91px 75px;
	}

	.iframe{
/* padding-top: 2px; */
/* padding-right: 49px; */
padding-left: 190px;
height: 140px;
margin-top: -4px;
	}
	.bgBack{
	position: absolute;
bottom: 0;
width: 100%;
font-size: 30px;
height: 80px;
background: url("http://draftster.com/images/greyBg.png");
background-position: center;
background-size: 1600px 285px;
top: 680px;
text-align: center;
padding-top: 40px;
margin: 0 auto;
	}
	.greyText1{
		font-size: 10px;
color: grey;
margin: 0 auto;
width: 100%;
font-family: "myriad-pro",sans-serif;
font-weight: 300;
margin-top: -9px;
	}
	.greyText2{
		font-size: 10px;
		color: grey;
		margin: 0 auto;
		width: 97%;
		font-family: "myriad-pro",sans-serif;
		font-weight: 300;
	}
	.smallFont{
		font-size: 18px;
		vertical-align: top;
	}
	.bold{
		font-weight: 700;
	}
	.uppercase{
	text-transform: uppercase;
font-size: 28px;
font-weight: 700;
width: 559px;
padding-top: 14px;
text-align: center;
	}
	.leftMargin{
		margin-left: 184px;
line-height: 53px;
	}
	.ctaAdjust{
		margin-left: 128px;	
	}

