<table border="0" cellpadding="0" cellspacing="0" style="background: #276799;" width="100%">
	<tbody>
		<tr>
			<td>
			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td valign="top">
						<table align="center" cellpadding="0" cellspacing="0" width="600">
							<tbody>
								<tr>
									<td class="main-title" style="padding: 0 20px; font-size: 28px; text-align: center; font-family: Arial; font-weight: bold; text-transform: uppercase; letter-spacing: 6px;"><br />
									<img alt="" src="http://draftster.com/images/logoDraftster.png" style="width: 338px; height: 49px;" /></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td valign="top">
						<table align="center" cellpadding="0" cellspacing="0" width="600">
							<tbody>
								<tr>
									<td class="date" style="color: #999; text-transform: uppercase; text-align: center; font-size: 11px; font-family: Verdana;" valign="top"><br />
									<currentdayname> <currentday> <currentmonth> <currentyear></currentyear></currentmonth></currentday></currentdayname><br />
									&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
			<table align="center" border="0" cellpadding="0" cellspacing="0" style="background: #276799;" width="600">
				<tbody>
					<tr>
						<td valign="top">
						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td valign="top" width="6">&nbsp;</td>
									<td valign="top" width="588">&nbsp;</td>
									<td valign="top" width="6">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
					<tr>
						<td><!-- content -->
						<table border="0" cellpadding="0" cellspacing="0" height="400" width="600">
							<tbody>
								<tr>
									<td class="article-title" colspan="2" height="49" style="padding: 10px 20px 0 20px; font-family: Arial; font-size: 20px; font-weight: bold;" valign="top" width="600"><span style="color:#FFFFFF;">Hello!</span></td>
								</tr>
								<tr>
									<td class="content-copy" colspan="2" style="padding: 0 20px; color: white font-size: 14px; font-family: Arial; line-height: 20px;" valign="top">
									<p><span style="color:#FFFFFF;">You are invited to help beta test Draftster.com<br />
									<br />
									Please use the following e-mail address and invitation code when accepting this invitation.<br />
									<br />
									E-mail: {{tester.email}}<br />
									Invitation Code: {{tester.invitation_code}}<br />
									<br />
									Click </span><a href="http://draftster.com/signup?email={{tester.email}}&amp;code={{tester.invitation_code}}"><span style="color:#FFFFFF;">here</span></a><span style="color:#FFFFFF;"> to accept this invitation.<br />
									<br />
									Sincerely,<br />
									The Draftster Team</span></p>
									</td>
								</tr>
							</tbody>
						</table>
						<!--  / content --></td>
					</tr>
					<tr>
						<td valign="top">
						<table border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td valign="top" width="6">&nbsp;</td>
									<td valign="top" width="588">&nbsp;</td>
									<td valign="top" width="6">&nbsp;</td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td valign="top">
			<table cellpadding="0" cellspacing="0" width="100%">
				<tbody>
					<tr>
						<td valign="top">&nbsp;</td>
					</tr>
					<tr>
						<td valign="top">
						<table cellpadding="0" cellspacing="0" width="100%">
							<tbody>
								<tr>
									<td align="center" bgcolor="#484845" class="copyright" height="80" style="color: #FFF; font-family: Verdana; font-size: 10px; text-transform: uppercase; text-align: center; line-height: 20px;" valign="top"><br />
									Draftster.com - Santa Monica, CA<br />
									<a href="{{tester.unsubscribe_link}}" style="font-size: 9px; color: #FFF;">Unsubscribe</a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
	</tbody>
</table>
